// app global css in Sass form
$primary   : #252626;
$primary-base   : #252626;
$secondary : #bababa;
$accent    : #c9142f;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
